---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import BlogPreview from "../components/BlogPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const blogs = (await getCollection("blogs")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title="Blogs | Amritesh Shrivastava"
  description="Security insights and GRC articles by Amritesh Shrivastava"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="Security Insights"
        tagline="Articles on GRC, Cybersecurity, and the intersection of Policy & Code."
        align="start"
      />
      <Grid>
        {
          blogs.map((post) => (
            <li>
              <BlogPreview post={post} />
            </li>
          ))
        }
      </Grid>
    </main>
  </div>
</BaseLayout>
